.Faqquestion{
  color: #FFFDD0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex !important;
    justify-content: space-between !important;
    cursor: pointer; 
    
}

.Faqanswer{

  color: #FFFDD0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
   font-size: 20px;
    padding-left: 3%; 
}
@media (max-width: 900px) {
  .Faqquestion {
    font-size: 17px; /* Reduced by 8px */
  }

  .Faqanswer {
    font-size: 12px; /* Reduced by 8px */
  }
}
@media (max-width: 500px) {
  .Faqquestion {
    font-size: 12px; /* Reduced by 8px */
  }

  .Faqanswer {
    font-size: 7px; /* Reduced by 8px */
  }
}